{{! Themebook Tab }}
<section class='tab themebooks {{tab.cssClass}}' data-group='primary' data-tab='themebooks'>
    <div class='.grid .grid-2col'>
      {{#each system.stats as |stat key|}}
        <div class="">
          <p>Test</p>
        </div>
      {{/each}}
    </div>
</section>